@{
    ViewData["Title"] = "Bienvenido";
}
<div class="flex">
<h1 class="bienvenido">BIENVENIDO AL SITIO MAS INCREIBLE DEL MUNDO</h1>

@{
Usuario u = ViewBag.Usuario;
<h3>Usuario: @u.Username - Email: @u.Email - <a href='@Url.Action("Login","Account")' id="botonTerrorifico" style="color: red;"> Cerrar sesion</a>
</h3>
}


