@{
    ViewData["Title"] = "Index";
}
<h1>@TempData["olvidado"]</h1>
<form action='@Url.Action("CheckOlvidado","Account", new {email = "user",preg = "preg", resp = "resp"})'>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
    </div>
     <div class="mb-3">
    <label for="b" class="form-label">Preguntas de seguridad</label>
    <select  name="preg" class="form-select" aria-label="Default select example">
  <option value="0">多Cual es su pelicula favorita?</option>
  <option value="1">多Cuantas mascotas tiene?</option>
  <option value="2">多Que deportes practica?</option>
</select>
    <input name="resp" type="text" class="form-control" id="b" aria-describedby="emailHelp">
  </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href='@Url.Action("Register","Account")'>No tengo una cuenta</a>

</form>
<h1>@TempData["contrase単a"]</h1>